@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Bodo';
  src: url('../../public/Bodo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Bodo', sans-serif;
}